In [1]:
# 1. Imprime "Hola, Mundo!"
print("Hola, Mundo!")

Hola, Mundo!

In [2]:
# 2. Declara una variable llamada nombre e imprime su valor
nombre = "Juan"
print(nombre)

Juan

In [3]:
# 3. Pide al usuario un número e imprime su doble
numero = int(input("Ingresa un número: "))
print(numero * 2)

Ingresa un número: 5
10

In [4]:
# 4. Suma dos números ingresados por el usuario
num1 = int(input("Ingresa el primer número: "))
num2 = int(input("Ingresa el segundo número: "))
print("La suma es:", num1 + num2)

Ingresa el primer número: 4
Ingresa el segundo número: 9
La suma es: 13

In [5]:
# 5. Muestra el primer y último número de una lista
numeros = [10, 20, 30, 40, 50]
print(numeros[0], numeros[-1])

10 50

In [6]:
# 6. Verifica si un número es par o impar
num = int(input("Ingresa un número: "))
if num % 2 == 0:
    print("Es par")
else:
    print("Es impar")

Ingresa un número: 4
Es par

In [7]:
# 7. Imprime los números del 1 al 10 usando un bucle
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [8]:
# 8. Calcula la suma de los primeros 100 números naturales
print(sum(range(1, 101)))

5050

In [15]:
# 9. Función que devuelve el cuadrado de un número
def cuadrado(n):
    return n ** 2
num = int(input("Ingresa un número: "))
print(cuadrado(num))

Ingresa un número: 7
49

In [16]:
# 10. Cuenta cuántas vocales tiene un texto
texto = input("Ingresa un texto: ")
vocales = "aeiouAEIOU"
contador = sum(1 for letra in texto if letra in vocales)
print("Cantidad de vocales:", contador)

Ingresa un texto: hola
Cantidad de vocales: 2

In [17]:
# 11. Muestra los números pares de una lista
lista = list(range(1, 11))
pares = [num for num in lista if num % 2 == 0]
print(pares)

[2, 4, 6, 8, 10]

In [24]:
# 12. Diccionario de nombres y edades
personas = {"Ana": 25, "Pedro": 30, "Luis": 22}
nombre = input("Ingresa un nombre: ")
print("Edad:", personas.get(nombre, "No encontrado"))

Ingresa un nombre: Ana
Edad: 25

In [25]:
# 13. Encuentra el número más grande en una lista
lista_numeros = [34, 67, 12, 89, 23]
print(max(lista_numeros))

89

In [49]:
# 14. Función que calcula el promedio de una lista
lista= [34,67,82,95,37]
def promedio(lista):
    return sum(lista) / len(lista)
print(f"El Promedio es {sum(lista)/len(lista)}")

El Promedio es 63.0

In [34]:
# 15. Verifica si una palabra es un palíndromo
palabra = input("Ingresa una palabra: ")
if palabra == palabra[::-1]:
    print("Es un palíndromo")
else:
    print("No es un palíndromo")

Ingresa una palabra: alla
Es un palíndromo

In [35]:
# 16. Función que devuelve el mayor de dos números
def mayor(a, b):
    return max(a, b)

print(mayor(10, 20))

20

In [36]:
# 17. Genera la tabla de multiplicar de un número
tabla = int(input("Ingresa un número: "))
for i in range(1, 11):
    print(f"{tabla} x {i} = {tabla * i}")

Ingresa un número: 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80